.cart {
  &_pb_0 {
    padding-bottom: 0;

    @media (max-width: $md) {
      padding-bottom: 0;
    }
  }
}

.cart__subtitle {
  margin-bottom: 50px;

  text-align: center;

  @media (max-width: $md) {
    margin-bottom: 30px;
  }
}

.cart__table {
  tr {
    @media (max-width: $md) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 8px;
      padding-bottom: 12px;
    }
  }
}

.cart__table-thead {
  @media (max-width: $md) {
    display: none;
  }
}

.cart__td-exam {
  order: 1;
  width: 40%;
  @media (max-width: $md) {
    width: calc(100% - 110px);
  }
}

.cart__info {
  display: block;


  &_red {
    color: $c-red;
  }
}

.cart__td-qty {
  order: 2;
  width: 35%;
  @media (max-width: $md) {
    order: 3;
    width: calc(100% - 110px);
  }
}

.cart__select-qty {
  width: 250px;

  @media (max-width: $xl) {
    width: 170px;
  }

  @media (max-width: $md) {
    width: 155px;
  }

  .selectric {
    border: 1px solid rgb(221, 221, 221);

    .label {
      height: auto;
      padding: 4px 20px;

      @media (max-width: $md) {
        padding-right: 6px;
        padding-left: 6px;
      }
    }
  }
}

.cart__td-price {
  @media (max-width: $md) {
    order: 2;
    width: 110px;
  }
}

.cart__td-remove {
  order: 4;
  width: 134px;
  @media (max-width: $md) {
    width: 110px;
  }
}

.cart__btn-remove {
  padding: 6px 12px;

  @media (max-width: $md) {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.cart__td-promo {
  width: 100%;
}

.cart__promo {
  margin-left: auto;
  padding-top: 10px;
}

.cart__td-total {
  font-size: 24px;

  @media (max-width: $md) {
    width: 100%;
    padding: 0;

    text-align: right;
  }
}

.cart__total {
  display: block;
  width: 200px;
  margin-left: 78%;

  font-weight: 500;

  @media (max-width: $lg) {
    margin-left: auto;
  }
}


.cart__td-pay {
  width: 100%;
}

.cart__pay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__pay-title {
  margin-right: 50px;

  font-weight: 500;
  font-size: 22px;
  color: $c-blue-dark;

  @media (max-width: $sm) {
    margin-right: 30px;

    font-size: 18px;
  }
}

.cart__pay-btn {
  flex-shrink: 0;
  width: 120px;
  padding: 8px 16px;
}

.cart__td-pay-note {
  text-align: center;
}

.cart__box-bottom-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px;

  @media (max-width: $sm) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (max-width: $ss) {
    flex-direction: column;

    .btn {
      width: 100%;

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
