.exam {
  padding-bottom: 0;

  &_border-bottom {
    border-bottom: 1px solid $c-blue-lite;
  }

  @media (max-width: $md) {
    padding-bottom: 0;
  }
}

.exam__wrap-title {
  margin-bottom: 30px;
}

.exam__box-top {
  padding: 0 0 30px;

  @media (max-width: $lg) {
    padding-bottom: 40px;
  }
}

// ////////////////////////
.exam__box-img-demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $c-3;
  padding-top: 20px;

  @media (max-width: $lg) {
    width: $c-5;
  }

  @media (max-width: $md) {
    width: $c-12;
    margin-bottom: 30px;
    padding-top: 0;
  }
}

.exam__img {
  margin-bottom: 30px;

  @media (max-width: $md) {
    width: 180px;
  }
}

.exam__btn-demo {
  width: 100%;
  max-width: 260px;
}

// ///////////////////
.exam__about {
  width: $c-5;

  @media (max-width: $lg) {
    width: $c-7;
  }

  @media (max-width: $md) {
    width: $c-12;
  }

  &_lg {
    width: $c-8;
  }
}

.exam__info {
  margin-bottom: 30px;

  b {
    font-weight: 500;
    color: $c-blue-dark;
  }
}

.exam__contains-title {
  font-weight: 500;
  font-size: 20px;
}

.exam__contains-list {
  margin-bottom: 30px;

  &_type-2 {
    margin-bottom: 10px;
    padding-top: 30px;
  }
}

.exam__contains-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;

  &:nth-child(odd) {
    background-color: $c-grey-lite;
  }
}

.exam__contains-left {
  margin-right: 20px;
}

.exam__contains-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exam__contains-p-old {
  font-size: 15px;
  color: $c-red;
}

.exam__contains-p-new {
  font-weight: 500;
  color: $c-green;
}

// ////////////////////////
.exam__purchase {
  width: $c-4;
  padding-top: 30px;

  @media (max-width: $lg) {
    width: $c-12;
  }
}

.exam__box-bottom {
  padding: 40px 0;

  background-color: $c-blue-lite;
}

.exam__faq-link {
  display: block;

  font-size: 26px;
  text-align: center;
  color: $c-green;

  @media (max-width: $sm) {
    font-size: 20px;
  }
}
