.exam-training {
}

.exam-training__box {
}

.exam-trainign__box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $c-3;
}

.exam-trainign__box-exam {
  width: $c-9;
}
