.license {
}

.license__row {
  display: flex;
  flex-wrap: wrap;
}

.license__col {
  width: $c-4;
  margin-bottom: 30px;
  padding: 20px;

  @media (max-width: $lg) {
    width: $c-12;
  }

  &_large {
    width: $c-8;

    background-color: $c-blue-lite;

    @media (max-width: $lg) {
      order: -1;
      width: $c-12;
    }
  }
}

.license__title {
  margin-bottom: 16px;
}

.license__form-row {
  margin-bottom: 0;

  &:first-of-type {
    margin-bottom: 20px;
    @media (max-width: $sm) {
      margin-bottom: 10px;
    }
  }
}

.license__btn {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
}
