.promo {
  width: 450px;

  @media (max-width: $sm) {
    width: 100%;
  }
}

.promo__info {
  margin-bottom: 8px;

  color: $c-red;
}

.promo__form {
  display: flex;
  align-items: center;
  padding: 20px;

  background-color: $c-blue-lite;

  @media (max-width: $sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.promo__form-group {
  flex-grow: 1;
  flex-direction: row;
  align-items: center;

  @media (max-width: $sm) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }
}


.promo__form-control {
  margin-right: 30px;

  @media (max-width: $sm) {
    margin-right: 0;
  }
}

.promo__btn {
  width: 150px;
  padding: 8px;
}
