.form {
}

.form__row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 0 -10px -20px;
}

.form__col {
  width: $c-12;
  padding: 0 10px 20px;

  &_2 {
    width: $c-6;

    @media (max-width: $sm) {
      width: $c-12;
    }
  }
}
