.form {
}

.form__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.form__col {
  width: calc(100% - 20px);
  margin: 0 10px 20px;

  &_2 {
    width: calc(50% - 20px);

    @media (max-width: $sm) {
      width: calc(100% - 20px);
    }
  }
}
