// ////////////////////////////////////////// FuturaPT
@font-face {
  font-weight: 400;
  font-family: "Futura PT";
  font-style: normal;

  font-display: swap;
  src: url(../font/FuturaPT/FuturaPT-Book.woff2),
  url(../font/FuturaPT/FuturaPT-Book.woff);
}

@font-face {
  font-weight: 500;
  font-family: "Futura PT";
  font-style: normal;

  font-display: swap;
  src: url(../font/FuturaPT/FuturaPT-Medium.woff2),
  url(../font/FuturaPT/FuturaPT-Medium.woff);
}
