.link {
  color: $c-main;

  background-image: linear-gradient(to right, $c-main 0, $c-main 100%);
  background-repeat: repeat-x;
  background-position: left 1.15em;
  background-size: 1px 1px;

  transition: .2s;

  &:hover {
    color: $c-main;
    text-decoration: none;
  }

  &_blue {
    color: $c-blue-dark;

    background-image: linear-gradient(to right, $c-blue-dark 0, $c-blue-dark 100%);
  }

  &_fw_500 {
    font-weight: 500;
  }

  &_btn {
    @extend .btn-reset;

    line-height: 1.3;
  }
}
