.table {
  width: 100%;

  border-collapse: collapse;
  font-size: 16px;

  thead {
    tr {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  }

  tbody,
  tfoot {
    tr {
      border-bottom: 1px solid #b4b4b4;

      @media (max-width: $lg) {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &:last-child {
        border-color: #000;
      }
    }
  }

  tbody tr:first-child {
    @media (max-width: $md) {
      border-top: 1px solid #000;
    }
  }



  th {
    font-weight: 500;
  }

  td,
  th {
    padding: 10px 30px;

    @media (max-width: $lg) {
      padding-right: 15px;
      padding-left: 15px;
    }

    @media (max-width: $md) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
