.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  vertical-align: middle;

  background-color: transparent;
  border: none;

  transition: .3s;

  user-select: none;
  :not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    text-decoration: none;
  }

  // ///////////////////////////////////////// type
  &_primary {
    color: #fff;

    background-color: $c-green-lite;
    border-radius: 4px;

    &:hover {
      color: #fff;

      filter: grayscale(30%);
    }

    @media (max-width: $sm) {
      background-color: $c-blue;
    }
  }

  &_secondary {
    color: #fff;

    background-color: $c-blue;
    border-radius: 4px;

    &:hover {
      color: #fff;

      background-color: $c-blue;
      filter: grayscale(30%);
    }
  }

  // ////////////////////////////////////////// size
  &_lg {
    min-height: 48px;
    padding: 8px 20px;

    font-size: 18px;
  }

  &_md {
    padding: 3px 15px;
  }


  &_w_320 {
    width: 100%;
    max-width: 320px;

    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
  // ////////////////////////////////////////// width
}
